html,
body {
	overflow:hidden;
}

html,
body,
.App {
	background: #eee;
	height: 100vh;
	padding: 1em;
}

.messages {
	height: calc(100vh - 210px);
	overflow-y: auto;
}

.message-form {
	bottom: 0;
	position: fixed;
}

.message__self {
	border-left: 2px solid orange;
	padding-left: 1em;
}